* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.titlebar{
	display: flex;
    justify-content: center;
    vertical-align: middle;
    height:35px;
	align-items: center; 
	background:#2a2a2a;
	color: #FFF;
	font-size: 16px;
	font-family: 'Comic Sans MS', cursive, sans-serif;
}
.column {
    float: left;
    padding: 10px;
   	
}

.left {
 	width: 50%;
 	background: #2d2d2d;
 	margin-top:10px;
 	border-right: thick solid #ff0000;
}

.right {
  	width: 50%;
  	background: #3f3f3f
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.search_area{
	width:450px;
	display: inline-block;
}
#search_url{
	padding-left: 20px;
	width: 300px;
}
#search_bar{
	float: left;
	margin: 10px 10px 10px 10px;
}
#search_button{
	margin: 10px 10px 10px 10px;
}